body{ 
    background-color: grey; 
    
}

canvas{ 
    background-color: white; 
    border: 1px solid ; 

}

div{ 
    display:block;          
}

h1 {
 text-align:center;
}

li {    
    font-family: 'Times New Roman';
}

ul{
    padding-left: 0px;
}

#lightingcontainer {
    background-color: white;
    padding:30px 20px;
    margin-left:80px;
    margin-right:100px;
    border:1px solid black;
    border-radius: 10px;
}

h4 {
    text-align: center;
}

#Id {
    opacity:0.5;
}

#Is {
    opacity:0.5;
}